/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
/run/saves/New World/advancements/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
/run/logs/2025-12-18-1.log.gz
/run/logs/2025-12-18-2.log.gz
/run/logs/2025-12-18-3.log.gz
/run/logs/2025-12-19-2.log.gz
/run/logs/2025-12-19-3.log.gz
/run/logs/2025-12-19-4.log.gz
/run/logs/2025-12-19-5.log.gz
/run/logs/2025-12-19-6.log.gz
/run/logs/2025-12-19-7.log.gz
/run/logs/2025-12-19-8.log.gz
/run/logs/2025-12-19-9.log.gz
/run/logs/2025-12-19-10.log.gz
/run/logs/2025-12-19-11.log.gz
/run/logs/2025-12-19-12.log.gz
/run/logs/2025-12-19-13.log.gz
/run/logs/2025-12-19-14.log.gz
/run/logs/2025-12-19-15.log.gz
/run/logs/2025-12-19-16.log.gz
/run/logs/2025-12-19-17.log.gz
/run/logs/2025-12-19-18.log.gz
/run/logs/2025-12-19-19.log.gz
/run/logs/2025-12-19-20.log.gz
/run/logs/2025-12-19-21.log.gz
/run/logs/2025-12-19-22.log.gz
/run/logs/2025-12-19-23.log.gz
/run/logs/2025-12-19-24.log.gz
/run/logs/2025-12-19-25.log.gz
/run/logs/2025-12-19-26.log.gz
/run/logs/2025-12-19-27.log.gz
/run/logs/2025-12-19-28.log.gz
/run/logs/2025-12-19-29.log.gz
/run/logs/2025-12-19-30.log.gz
/run/logs/2025-12-19-31.log.gz
/run/logs/2025-12-19-32.log.gz
/run/logs/2025-12-19-33.log.gz
/run/logs/2025-12-19-34.log.gz
/run/logs/2025-12-19-35.log.gz
/run/logs/2025-12-19-36.log.gz
/run/logs/2025-12-19-37.log.gz
/run/logs/2025-12-19-38.log.gz
/run/logs/2025-12-19-39.log.gz
/run/logs/2025-12-19-40.log.gz
/run/logs/2025-12-19-41.log.gz
/run/logs/2025-12-19-42.log.gz
/run/logs/2025-12-19-43.log.gz
/run/logs/2025-12-19-44.log.gz
/run/logs/2025-12-19-45.log.gz
/run/logs/2025-12-19-46.log.gz
/run/logs/2025-12-19-47.log.gz
/run/logs/2025-12-19-48.log.gz
/run/logs/2025-12-19-49.log.gz
/run/logs/2025-12-19-50.log.gz
/run/logs/2025-12-19-51.log.gz
/run/logs/2025-12-19-52.log.gz
/run/logs/2025-12-19-53.log.gz
/run/logs/2025-12-19-54.log.gz
/run/logs/2025-12-19-55.log.gz
/run/logs/2025-12-19-56.log.gz
/run/logs/2025-12-19-57.log.gz
/run/logs/2025-12-19-58.log.gz
/run/logs/2025-12-19-59.log.gz
/run/logs/2025-12-19-60.log.gz
/run/logs/2025-12-19-61.log.gz
/run/logs/2025-12-19-62.log.gz
/run/logs/2025-12-19-63.log.gz
/run/logs/2025-12-19-64.log.gz
/run/logs/2025-12-19-65.log.gz
/run/logs/2025-12-19-66.log.gz
/run/logs/2025-12-19-67.log.gz
/run/logs/2025-12-19-68.log.gz
/run/logs/2025-12-19-69.log.gz
/run/logs/2025-12-19-70.log.gz
/run/logs/2025-12-19-71.log.gz
/run/logs/2025-12-19-72.log.gz
/run/logs/2025-12-19-73.log.gz
/run/logs/2025-12-19-74.log.gz
/run/logs/2025-12-19-75.log.gz
/run/logs/2025-12-19-76.log.gz
/run/logs/2025-12-19-77.log.gz
/run/logs/2025-12-19-78.log.gz
/run/logs/2025-12-19-79.log.gz
/run/logs/2025-12-19-80.log.gz
/run/logs/2025-12-19-81.log.gz
/run/logs/2025-12-19-82.log.gz
/run/logs/2025-12-19-83.log.gz
/run/logs/2025-12-19-84.log.gz
/run/logs/2025-12-19-85.log.gz
/run/logs/2025-12-19-86.log.gz
/run/logs/2025-12-19-87.log.gz
/run/logs/2025-12-19-88.log.gz
/run/logs/2025-12-19-89.log.gz
/run/logs/2025-12-19-90.log.gz
/run/logs/2025-12-19-91.log.gz
/run/logs/2025-12-19-92.log.gz
/run/logs/2025-12-19-93.log.gz
/run/logs/2025-12-19-94.log.gz
/run/logs/2025-12-19-95.log.gz
/run/screenshots/2025-12-19_00.35.32.png
/run/screenshots/2025-12-19_15.08.02.png
/run/screenshots/2025-12-19_15.08.06.png
/run/screenshots/2025-12-19_15.08.14.png
/run/screenshots/2025-12-19_15.08.14_2.png
/run/screenshots/2025-12-19_15.08.14_3.png
/run/screenshots/2025-12-19_15.08.14_4.png
/run/screenshots/2025-12-19_15.08.19.png
/run/screenshots/2025-12-19_15.08.24.png
/run/screenshots/2025-12-19_15.08.25.png
/run/screenshots/2025-12-19_15.08.25_2.png
/run/screenshots/2025-12-19_15.08.26.png
/run/screenshots/2025-12-19_15.08.27.png
/run/screenshots/2025-12-19_15.08.38.png
/run/screenshots/2025-12-19_15.08.39.png
/run/screenshots/2025-12-19_15.14.23.png
/run/screenshots/2025-12-19_15.22.20.png
/run/logs/2025-12-20-2.log.gz
/run/logs/2025-12-20-3.log.gz
/run/logs/2025-12-20-4.log.gz
/run/logs/2025-12-20-5.log.gz
/run/logs/2025-12-20-6.log.gz
/run/logs/2025-12-20-7.log.gz
/run/logs/2025-12-20-8.log.gz
/run/logs/2025-12-20-9.log.gz
/run/logs/2025-12-20-10.log.gz
/run/logs/2025-12-20-11.log.gz
/run/logs/2025-12-20-12.log.gz
/run/logs/2025-12-20-13.log.gz
/run/logs/2025-12-20-14.log.gz
/run/logs/2025-12-20-15.log.gz
/run/logs/2025-12-20-16.log.gz
/run/logs/2025-12-20-17.log.gz
/run/logs/2025-12-20-18.log.gz
/run/logs/2025-12-20-19.log.gz
/run/logs/2025-12-20-20.log.gz
/run/logs/2025-12-20-21.log.gz
/run/logs/2025-12-20-22.log.gz
/run/logs/2025-12-20-23.log.gz
/run/logs/2025-12-20-24.log.gz
/build/classes/java/main/net/bikerboys/minemineextraslots/mixin/AbilityDataBaseMixin.class
/build/classes/java/main/net/bikerboys/minemineextraslots/config/AddonConfig$Common.class
/build/classes/java/main/net/bikerboys/minemineextraslots/config/AddonConfig.class
/build/classes/java/main/net/bikerboys/minemineextraslots/networking/AddonNetwork.class
/run/banned-ips.json
/run/banned-players.json
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/run/saves/New World/data/capabilities.dat
/run/saves/New World/DIM1/data/capabilities.dat
/run/saves/New World/DIM-1/data/capabilities.dat
/run/saves/New World/dimensions/mineminenomi/challenges/data/capabilities.dat
/run/world/data/capabilities.dat
/run/world/DIM1/data/capabilities.dat
/run/world/DIM-1/data/capabilities.dat
/run/world/dimensions/mineminenomi/challenges/data/capabilities.dat
/build/classes/java/main/net/bikerboys/minemineextraslots/mixin/CEquipAbilityPacketAccessor.class
/build/classes/java/main/net/bikerboys/minemineextraslots/mixin/CEquipAbilityPacketMixin.class
/.gradle/8.4/checksums/checksums.lock
/build/classes/java/main/net/bikerboys/minemineextraslots/client/ClientEvents.class
/build/classes/java/main/net/bikerboys/minemineextraslots/ClientPacketHandlerClass.class
/build/tmp/compileJava/compileJava-mappings.tsrg
/build/tmp/compileJava/compileJava-refmap.json
/run/crash-reports/crash-2025-12-19_15.45.16-client.txt
/run/crash-reports/crash-2025-12-19_15.48.28-client.txt
/run/crash-reports/crash-2025-12-19_15.49.40-client.txt
/run/crash-reports/crash-2025-12-19_15.49.58-client.txt
/run/crash-reports/crash-2025-12-19_15.51.44-client.txt
/run/crash-reports/crash-2025-12-19_15.52.45-client.txt
/run/crash-reports/crash-2025-12-19_15.56.24-client.txt
/run/crash-reports/crash-2025-12-19_16.02.11-client.txt
/run/crash-reports/crash-2025-12-19_16.03.04-client.txt
/run/crash-reports/crash-2025-12-19_16.05.28-client.txt
/run/crash-reports/crash-2025-12-19_16.06.26-client.txt
/run/crash-reports/crash-2025-12-19_16.45.18-client.txt
/run/crash-reports/crash-2025-12-19_16.47.08-fml.txt
/run/crash-reports/crash-2025-12-19_16.48.12-client.txt
/run/crash-reports/crash-2025-12-19_17.32.25-client.txt
/run/crash-reports/crash-2025-12-19_17.34.45-client.txt
/run/crash-reports/crash-2025-12-20_11.18.40-fml.txt
/run/crash-reports/crash-2025-12-20_11.19.01-fml.txt
/run/crash-reports/crash-2025-12-20_11.40.33-client.txt
/build/classes/java/main/net/bikerboys/minemineextraslots/mixin/CUseAbilityPacketMixin.class
/run/logs/debug.log
/run/logs/debug-1.log.gz
/run/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run/logs/debug-4.log.gz
/run/logs/debug-5.log.gz
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/run/src/main/resources/assets/mineminenomi/lang/en_us.json
/run/eula.txt
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/run/config/fml.toml
/run/config/forge-client.toml
/run/config/forge-common.toml
/run/saves/New World/serverconfig/forge-server.toml
/run/world/serverconfig/forge-server.toml
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/net/bikerboys/minemineextraslots/mixin/GetSlot.class
/build/natives/glfw.dll
/build/natives/glfw.dll.git
/build/natives/glfw.dll.sha1
/build/natives/glfw32.dll
/build/natives/glfw32.dll.git
/build/natives/glfw32.dll.sha1
/run/saves/New World/icon.png
/build/natives/jemalloc.dll
/build/natives/jemalloc.dll.git
/build/natives/jemalloc.dll.sha1
/build/natives/jemalloc32.dll
/build/natives/jemalloc32.dll.git
/build/natives/jemalloc32.dll.sha1
/.gradle/8.4/fileChanges/last-build.bin
/run/logs/latest.log
/run/saves/New World/level.dat
/run/world/level.dat
/run/saves/New World/level.dat_old
/run/world/level.dat_old
/build/reobfJar/log.txt
/build/natives/lwjgl.dll
/build/natives/lwjgl.dll.git
/build/natives/lwjgl.dll.sha1
/build/natives/lwjgl32.dll
/build/natives/lwjgl32.dll.git
/build/natives/lwjgl32.dll.sha1
/build/natives/lwjgl_opengl.dll
/build/natives/lwjgl_opengl.dll.sha1
/build/natives/lwjgl_opengl32.dll
/build/natives/lwjgl_opengl32.dll.sha1
/build/natives/lwjgl_stb.dll
/build/natives/lwjgl_stb.dll.sha1
/build/natives/lwjgl_stb32.dll
/build/natives/lwjgl_stb32.dll.sha1
/build/natives/lwjgl_tinyfd.dll
/build/natives/lwjgl_tinyfd.dll.sha1
/build/natives/lwjgl_tinyfd32.dll
/build/natives/lwjgl_tinyfd32.dll.sha1
/build/tmp/jar/MANIFEST.MF
/build/reobfJar/mappings.tsrg
/.gradle/8.4/checksums/md5-checksums.bin
/build/jarjar/jarJar/metadata.json
/build/classes/java/main/net/bikerboys/minemineextraslots/MineMineExtraSlots$1.class
/build/classes/java/main/net/bikerboys/minemineextraslots/MineMineExtraSlots$ClientEvents.class
/build/classes/java/main/net/bikerboys/minemineextraslots/MineMineExtraSlots$ServerEvents.class
/build/classes/java/main/net/bikerboys/minemineextraslots/MineMineExtraSlots.class
/build/resources/main/minemineextraslots.mixins.json
/build/tmp/compileJava/minemineextraslots.refmap.json
/build/libs/minemineextraslots-1.1-1.16.5.jar
/build/libs/minemineextraslots-1.2-1.16.5.jar
/run/config/minemineextraslots-common.toml
/run/saves/New World/serverconfig/minemineextraslots-server.toml
/run/world/serverconfig/minemineextraslots-server.toml
/run/saves/New World/data/mineminenomi.dat
/run/config/mineminenomi-client.toml
/run/config/mineminenomi-common.toml
/run/saves/New World/data/mineminenomi-events.dat
/run/saves/New World/data/mineminenomi-npcs.dat
/run/world/data/mineminenomi-npcs.dat
/build/resources/main/META-INF/mods.toml
/build/natives/OpenAL.dll
/build/natives/OpenAL.dll.git
/build/natives/OpenAL.dll.sha1
/build/natives/OpenAL32.dll
/build/natives/OpenAL32.dll.git
/build/natives/OpenAL32.dll.sha1
/run/ops.json
/run/options.txt
/build/reobfJar/output.jar
/build/createSrgToMcp/output.srg
/build/extractSrg/output.srg
/build/createMcpToSrg/output.tsrg
/build/downloadMcpConfig/output.zip
/.gradle/buildOutputCleanup/outputFiles.bin
/build/resources/main/pack.mcmeta
/build/tmp/compileJava/previous-compilation-data.bin
/run/saves/New World/poi/r.0.0.mca
/run/saves/New World/region/r.0.0.mca
/run/world/region/r.0.0.mca
/run/saves/New World/poi/r.0.-1.mca
/run/saves/New World/region/r.0.-1.mca
/run/world/region/r.0.-1.mca
/run/saves/New World/poi/r.0.-2.mca
/run/saves/New World/region/r.0.-2.mca
/run/saves/New World/poi/r.1.0.mca
/run/saves/New World/region/r.1.0.mca
/run/saves/New World/poi/r.1.-1.mca
/run/saves/New World/region/r.1.-1.mca
/run/saves/New World/poi/r.1.-2.mca
/run/saves/New World/region/r.1.-2.mca
/run/saves/New World/region/r.2.0.mca
/run/saves/New World/region/r.2.-1.mca
/run/saves/New World/region/r.2.-2.mca
/run/saves/New World/poi/r.-1.0.mca
/run/saves/New World/region/r.-1.0.mca
/run/world/region/r.-1.0.mca
/run/saves/New World/poi/r.-1.-1.mca
/run/saves/New World/region/r.-1.-1.mca
/run/world/poi/r.-1.-1.mca
/run/world/region/r.-1.-1.mca
/run/saves/New World/region/r.-1.-2.mca
/run/saves/New World/data/raids.dat
/run/saves/New World/DIM-1/data/raids.dat
/run/saves/New World/dimensions/mineminenomi/challenges/data/raids.dat
/run/world/data/raids.dat
/run/world/DIM-1/data/raids.dat
/run/world/dimensions/mineminenomi/challenges/data/raids.dat
/run/saves/New World/DIM1/data/raids_end.dat
/run/world/DIM1/data/raids_end.dat
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/build/classes/java/main/net/bikerboys/minemineextraslots/networking/S2CSyncConfigPacket.class
/build/natives/SAPIWrapper_x64.dll
/build/natives/SAPIWrapper_x86.dll
/build/classes/java/main/net/bikerboys/minemineextraslots/mixin/SelectHotbarAbilitiesScreenMixin.class
/run/server.properties
/run/saves/New World/session.lock
/run/world/session.lock
/.gradle/8.4/checksums/sha1-checksums.bin
/run/usercache.json
/run/usernamecache.json
/build/downloadMCMeta/version.json
/run/whitelist.json
